# Ignore elpa downloads
elpa/

# Ignore caches
eshell/
server/
url/

# Ignore all auto-saved files (ending with `~')
*.*~

# Ignore all .data files
*.data
*.dat

# Ignore the recentf file because it's a list of recently opened files
recentf
recentf~

# Ignore generated lisp files
literal-init.el